        <!-- NAVBAR LARGE -->
        <div class="w3-top">
                <div class="w3-bar w3-black w3-card-2">
                        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="menu()"
                        title="Menu"><i class="fa fa-bars"></i></a>
                        <a href="{{ site.url }}/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">home</a>
                        <a href="{{ site.url }}/about.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">about</a>
                        <a href="{{ site.url }}/photos.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">photos</a>
                        <a href="{{ site.url }}/blog.html"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">blog</a>
                </div>
        </div>
        <!-- NAVBAR SMALL SCREENS -->
        <div id="navSmall" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px;">
                <a href="{{ site.url }}/index.html" class="w3-bar-item w3-button w3-padding-large">home</a>
                <a href="{{ site.url }}/about.html" class="w3-bar-item w3-button w3-padding-large">about</a>
                <a href="{{ site.url }}/photos.html" class="w3-bar-item w3-button w3-padding-large">photos</a>
                <a href="{{ site.url }}/blog.html" class="w3-bar-item w3-button w3-padding-large">blog</a>
        </div>
        <!-- Script for open/close menu -->
        <script type="text/javascript">
                // MENU 
                function menu() {
                        var x = document.getElementById('navSmall')
                        if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else { 
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
        </script>