<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% include w3css.html %}
    {% include fa.html %}
    {% include fluidbox.html %}
</head>
<body>
{% include nav.html %}
<div style="padding-top: 46px;">
<!-- Large Gallery -->
<div class="w3-hide-small photoCardsLarge" id="galleryLarge">
</div>
<!-- Small Gallery -->
<div class="w3-hide-medium w3-hide-large photoCardsSmall" id="gallerySmall">
</div>
{% include jquery.html %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"></script>
<script type="text/javascript">
    let images =  [
        {% for image in page.images %}'{{ image.url }}'{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
    console.log(images);
    $(document).ready(function() {
            let countToFour = 0
            for (let i = 0; i < images.length; i++) {

            // large gallery
                // Create the rows
                if (i == 0) {
                    $('.photoCardsLarge').append("<div class='w3-row-padding w3-center w3-margin aRow' > ");
                } else if (countToFour == 4) {
                    $('.photoCardsLarge').append("<div class='w3-row-padding w3-center w3-margin aRow' > " );
                    countToFour = 0;
                }

            // small gallery
                if (i == 0) {
                    $('.photoCardsSmall').append(   "<div class='w3-row w3-center w3-margin' > " +
                                    "<div class='w3-card-2'> " +
                                    "<a href='"+ images[i] + "' rel='lightbox'> " +
                                    "<img class='w3-round' src='" + images[i] + "' style='width:100%' >");

                } else {
                    $('.photoCardsSmall').append(   "<div class='w3-row w3-center w3-margin'> " +
                                    "<div class='w3-card-2'> " +
                                    "<a href='"+ images[i] + "' rel='lightbox'> " +
                                    "<img class='w3-round' src='" + images[i] + "' style='width:100%' >");
                }
                countToFour++;
            }
            let j = 0;
            $('div .aRow').each((row, elem) => {
                if (images[j]) {
                    for (let k = 0; k < 4; k++) {
                        if (images[j] !== undefined) {
                            $(elem).append( "<div class='w3-quarter w3-container'> " +
                                            "<div class='w3-card-2'> " +
                                            "<a href='" + images[j] + "' rel='lightbox'> " +
                                            "<img class='w3-round' src='" + images[j] + "' style='width:100%' >"
                            );
                            j++;
                        }
                    }
                } else {
                    return;
                }
            });
        // Call fluid box for all a with rel = lightbox
        $('#galleryLarge a[rel="lightbox"]')
        .fluidbox()

        $('#gallerySmall a[rel="lightbox"]')
        .fluidbox()
    });
    $('#navSmall').click(function() {
        let x = document.getElementById('navSmall')
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
    });

</script>
</body>
</html>
